<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <p>文本框，{{data.text}}</p>
        <p>单选框，{{data.radio}}</p>
        <p>多选框，{{data.checkBox}}</p>
        <p>记住密码，{{data.remember}}</p>
        <p>下拉框，{{data.select}}</p>
        <p>修饰符内容，{{data.descrip}}</p>


        单向数据绑定<input type="text" :value="data.text">
        双向数据绑定<input type="text" v-model="data.text">
        <hr>
        单选框
        <input type="radio" value="1" v-model="data.radio">
        <input type="radio" value="2" v-model="data.radio">
        <hr>
        复选框
        <input type="checkbox" value="吃饭" v-model="data.checkBox">吃饭
        <input type="checkbox" value="2" v-model="data.checkBox">喝水
        <input type="checkbox" value="3" v-model="data.checkBox">打豆豆

        <hr>
        设置密码
        <input type="checkbox"  v-model="data.remember">记住密码，
        
        <hr>
        下拉框
        <select v-model="data.select">
            <option value=""> 请选择</option>
            <option value="A">吃饭</option>
            <option value="B">喝水</option>
            <option value="C">打豆豆</option>



        </select>        

        <hr>
        v-model 修饰符
        正常版<input type="text" v-model="data.descrip">
        lazy版<input type="text" v-model.lazy="data.descrip">
        number版<input type="text" v-model.number="data.descrip">
        trim版<input type="text" v-model.trim="data.descrip">






    </div>
    <script type="module">
        import {createApp, reactive} from './vue.esm-browser.js'

        createApp({
            setup(){
                const data = reactive({
                    text: 'muzihhh',
                    radio:'',
                    checkBox: [],
                    remember: false,
                    select: '',
                    descrip: 'a handsome boy'
                })

                return {
                    data
                }
            }
        }).mount("#app")
    </script>
    
</body>
</html>